name: Scheduled Scrapping Task

on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install system dependencies
        env:
          TZ: America/Santiago
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get update
          sudo apt-get install -y tzdata
          sudo ln -fs /usr/share/zoneinfo/$TZ /etc/localtime
          sudo dpkg-reconfigure -f noninteractive tzdata
          sudo apt-get install -y chromium-browser chromium-chromedriver
      - name: Setup Chrome symlink
        run: |
          sudo ln -s /usr/bin/chromium-browser /usr/bin/chromium
          which chromium
          chromium --version
      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Create .env file
        run: |
          cat <<EOF > .env
          VIPER_USER=${{ secrets.VIPER_USER }}
          VIPER_PASSWORD=${{ secrets.VIPER_PASSWORD }}
          EMAIL=${{ secrets.EMAIL }}
          EMAIL_PASSWORD=${{ secrets.EMAIL_PASSWORD }}
          EMAIL_TO=${{ secrets.EMAIL_TO }}
          EOF

      - name: Run scrapping script
        run: python main.py
