name: Scheduled Task

on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch: 
permissions:
  contents: read

jobs:
  run-task:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Build Docker image
        run: docker build -t scrapping-task .
      
      - name: Docker Tag
        run: docker tag scrapping-task "${{ secrets.DOCKERHUB_USERNAME }}"/scrapping-task
      
      - name: Run container
        run: docker run --rm -e VIPER_USER=${{ secrets.VIPER_USER }} -e VIPER_PASSWORD=${{ secrets.VIPER_PASSWORD }} -e DB_URL=${{ secrets.DB_URL }} -e EMAIL=${{ secrets.EMAIL }} -e EMAIL_PASSWORD=${{ secrets.EMAIL_PASSWORD }} -e EMAIL_TO=${{ secrets.EMAIL_TO }} "${{ secrets.DOCKERHUB_USERNAME }}"/scrapping-task